@model SuiviEntrainementSportif.Models.Utilisateur

<h2>Ajouter un utilisateur</h2>

<form method="post">

    <label>Nom</label>
    <input class="form-control" name="Nom" />

    <label>Email</label>
    <input class="form-control" name="Email" />

    <button class="btn btn-primary mt-3">Enregistrer</button>

</form>
