# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# ASP.NET
wwwroot/node_modules/

# Rider
.idea/

# OS files
Thumbs.db
.DS_Store

# NuGet
*.nupkg
.project.lock.json

# dotnet
*.dotCover

# Logs
*.log

# Local user secrets
secrets.json

# JetBrains
.idea/

# Others
.vscode/

# Ignore image backups and original downloads
Downloads/

# OneDrive temp folders
*.tmp
