@model SuiviEntrainementSportif.Models.Entrainement

<h2>Ajouter un entraînement</h2>

<form method="post">

    <label>Nom</label>
    <input class="form-control" name="Nom" />

    <label>Type</label>
    <input class="form-control" name="Type" />

    <label>Durée (min)</label>
    <input class="form-control" type="number" name="Duree" />

    <label>Calories brûlées</label>
    <input class="form-control" type="number" name="CaloriesBrulees" />

    <label>Date</label>
    <input class="form-control" type="date" name="Date" />

    <button class="btn btn-primary mt-3">Enregistrer</button>

</form>
