@model SuiviEntrainementSportif.Models.ObjectifSportif

<h2>Ajouter un objectif</h2>

<form method="post">

    <label>Description</label>
    <input class="form-control" name="Description" />

    <label>Calories cible</label>
    <input class="form-control" type="number" name="CaloriesCible" />

    <label>Durée cible (min)</label>
    <input class="form-control" type="number" name="DureeCible" />

    <button class="btn btn-primary mt-3">Enregistrer</button>

</form>
